.Avatar {
  border-radius: 1000px;
  background-position: center;
  background-size: cover;
  border: 1px solid var(--dark-10);
}

.Avatar.large {
  width: 100px;
  height: 100px;
}

.Avatar.medium {
  width: 64px;
  height: 64px;
}

.Avatar.small {
  width: 32px;
  height: 32px;
}
