.Modal_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
  display: grid;
  place-content: center;
  z-index: 1;
}

.Modal {
  background-color: white;
  width: 600px;
  max-width: 100%;
  border-radius: 16px;

  max-height: 90vh;
  overflow-y: auto;
}

.Modal_header {
  padding: 32px;
}

.Modal_section {
  padding: 0 32px;
}

.Modal_section > .ContactTab {
  margin: 0 -24px;
}

.Modal_footer {
  padding: 32px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 16px;
}

.Modal_section + .Modal_section {
  margin-top: 24px;
}

@media screen and (max-width: 900px) {
  .Modal {
    width: 90vw;
  }

  .Modal_header,
  .Modal_section,
  .Modal_footer {
    padding: 24px;
  }
}
