.ChatTab {
  background-color: white;
  padding: 24px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 16px;
  border-right: solid 3px transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.ChatTab > div:nth-of-type(2) {
  overflow: hidden;
}
.ChatTab > div:nth-of-type(2) > * {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ChatTab .message {
  color: var(--grey);
}

.ChatTab .date {
  font-size: 14px;
  color: var(--grey);
}

.ChatTab.unread .message,
.ChatTab.unread .date {
  color: black !important;
}

.ChatTab .message > .Icon {
  width: 16px;
  height: 16px;
  margin-right: 6px;
  display: inline-block;
  position: relative;
  top: 2px;
}

.ChatTab.active {
  background-color: var(--ghost);
  border-right-color: var(--primary);
}

.ChatTab:hover {
  background-color: var(--ghost);
}

.UnreadLabel {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  font-size: 14px;
  color: white;
  background-color: var(--primary);
  display: grid;
  place-content: center;
  margin-left: auto;
  margin-bottom: 6px;
}

.dark .ChatTab {
  background-color: var(--dark-grey);
}

.dark .ChatTab.unread .message,
.dark .ChatTab.unread .date {
  color: white !important;
}

.dark .ChatTab.active {
  background-color: var(--charcoal);
  border-right-color: var(--primary-75);
}

.dark .ChatTab:hover {
  background-color: var(--charcoal);
}
