.ChatTab {
  background-color: white;
  padding: 24px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 16px;
  border-right: solid 3px transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.ChatTab_text {
  overflow: hidden;
}

.ChatTab_text > * {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ChatTab_message {
  color: var(--grey);
}

.ChatTab_message > .Icon {
  width: 16px;
  height: 16px;
  margin-right: 6px;
  display: inline-block;
  position: relative;
  top: 2px;
}

.unread .ChatTab_message {
  color: black;
}

.ChatTab.active {
  background-color: var(--ghost);
  border-right-color: var(--primary);
}

.ChatTab:hover {
  background-color: var(--ghost);
}

.UnreadLabel {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  font-size: 14px;
  color: white;
  background-color: var(--primary);
  display: grid;
  place-content: center;
  margin-left: auto;
  margin-bottom: 6px;
}
