.ChatTab {
  max-width: 100%;
  padding: 20px 16px;
  background-color: white;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.ChatTab:hover {
  background-color: var(--dark-10);
}

.ChatTab.active {
  background-color: var(--dark-20);
  border-right: 3px solid var(--primary);
}

.ChatTab_text {
  overflow: hidden;
}

.ChatTab_link {
  color: inherit;
}
.ChatTab_link:hover {
  text-decoration: inherit;
}

.ChatTab_message-text {
  color: var(--dark-50);
}

.ChatTab.unread .ChatTab_message-text {
  color: var(--dark-90);
  font-weight: 700;
}

.ChatTab_message-text > svg {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  color: var(--dark-50);
}

.UnreadLabel {
  font-size: 14px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  color: white;
  background-color: var(--primary);
  display: grid;
  place-content: center;
  margin-bottom: 4px;
  margin-left: auto;
}
