.ChatMessageInput {
  position: relative;
  background-color: white;
  padding: 36px;
}

.ChatMessageInput > form {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: stretch;
  gap: 16px;
}

.ChatMessageInput > form > label.icon-btn {
  width: 54px;
  height: 54px;
  display: grid;
  place-content: center;
  margin: inherit;
}

.ChatMessageInput > form > label.icon-btn > svg {
  width: 24px;
  height: 24px;
}

.ChatMessageInput_image-preview {
  position: absolute;
  bottom: calc(100% + 16px);
  width: 250px;
}

.ChatMessageInput_image-preview > img {
  display: block;
  width: 100%;
  height: auto;
  box-shadow: var(--shadow);
  border: solid 1px var(--dark-20);
}

.ChatMessageInput_image-preview > .close-btn {
  width: 36px;
  height: 36px;
  padding: 0;
  border-radius: 18px;
  opacity: 0.9;

  position: absolute;
  bottom: calc(100% - 18px);
  left: calc(100% - 18px);
}

.ChatMessageInput_image-preview > .close-btn:hover {
  opacity: 1;
}
