.ChatTab {
  max-width: 100%;
  padding: 20px 16px;
  background-color: white;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.ChatTab:hover {
  background-color: var(--dark-10);
}

.ChatTab.active {
  background-color: var(--dark-20);
  border-right: 3px solid var(--primary);
}

.ChatTab > .text {
  overflow: hidden;
}

.ChatTab > div:last-of-type {
  margin-left: auto;
}

.ChatTab_link {
  color: inherit;
}
.ChatTab_link:hover {
  text-decoration: inherit;
}

.UnreadLabel {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  color: white;
  background-color: var(--primary);
  display: grid;
  place-content: center;
  margin-bottom: 4px;
}
