.JoinLayout {
  height: 100%;
}

.JoinLayout_grid {
  max-width: 1440px;
  height: 100%;
  margin: auto;
  padding: 1rem;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  gap: 1rem;
}

.JoinLayout .img-wrapper {
  grid-column: 2 / span 5;
}

.JoinLayout .form-wrapper {
  grid-column: 8 / span 3;
}

.JoinLayout .img-wrapper > img {
  width: 100%;
}

.JoinLayout .form-wrapper .icon-btn {
  margin-bottom: 1rem;
}

.JoinLayout .form-wrapper h1 {
  margin-bottom: 48px;
}

.JoinLayout .form-wrapper > form > .row {
  margin-bottom: 16px;
}

.JoinLayout .form-wrapper > form > button[type='submit'] {
  margin-top: 20px;
}
