.Message_wrapper {
  margin: 16px 0;
  width: fit-content;
}

.Message_wrapper.sent {
  margin-left: auto;
}

.Message {
  width: fit-content;
  line-height: 140%;
  max-width: 700px;
  word-break: break-all;
  padding: 16px 24px;
  margin-bottom: 8px;
  box-shadow: var(--shadow);
}

.Message_wrapper.received > .Message {
  color: var(--dark-100);
  background-color: white;
  border-radius: 16px 16px 16px 0;
}

.Message_wrapper.sent > .Message {
  color: white;
  background-color: var(--primary);
  border-radius: 16px 16px 0 16px;
  margin-left: auto;
}

.Message_date {
  color: var(--dark-50);
}

.Message_wrapper.sent > .Message_date {
  text-align: right;
}
