.Message_wrapper {
  margin: 16px 0;
  width: fit-content;
}

.Message_wrapper:has(.Message.sent) {
  margin-left: auto;
}

.Message {
  color: var(--dark-100);
  background-color: white;
  padding: 16px 24px;
  margin-bottom: 8px;
  width: fit-content;
  border-radius: 16px 16px 16px 0;
  box-shadow: var(--shadow);
}

.Message.sent {
  color: white;
  background-color: var(--primary);
  border-radius: 16px 16px 0 16px;
}

.Message_date {
  color: var(--dark-50);
}

.Message.sent + .Message_date {
  text-align: right;
}
