.SearchResultsTab {
  padding: 16px;
  background-color: white;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.SearchResultsTab h3 {
  font-weight: 400;
}

.SearchResultsTab:hover {
  background-color: var(--dark-10);
}
