.SearchBar {
  position: relative;
}

.SearchBar > svg {
  color: var(--dark-50);
  position: absolute;
  top: 12px;
  left: 12px;
  pointer-events: none;
}

.SearchBar > input {
  padding: 13px;
  padding-left: calc(12px + 24px + 16px);
}
