.Settings {
  background-color: var(--dark-20);
}

.Settings > header {
  padding: 36px;
  background-color: white;
}

.Settings > section {
  max-width: 815px;
  padding: 24px;
  margin: 64px auto 0;
  background-color: white;
  border-radius: 8px;
  box-shadow: var(--shadow);

  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.Settings > section:first-of-type > div:first-of-type {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 24px;
}
