.Sidebar {
  width: 372px;
  background-color: white;
  border-right: 1px solid var(--dark-10);
  position: relative;
  z-index: 5;
}

.Sidebar > header {
  padding: 36px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
