.Sidebar {
  width: 372px;
  border-right: 1px solid var(--dark-10);
  position: relative;
  z-index: 5;
}

.Sidebar > header {
  padding: 36px 20px;
}

.Sidebar > .SearchBar {
  margin: 0 20px 32px;
}
