.ContactTab {
  background-color: white;
  padding: 12px 24px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 16px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.ContactTab.off {
  cursor: default;
}
.ContactTab.off:hover {
  background-color: white;
}

.ContactTab:hover {
  background-color: var(--ghost);
}

.ContactTab > .Icon {
  color: var(--primary);
}
