.ImageDisplay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.ImageDisplay_img-wrapper {
  position: absolute;
  top: 96px;
  left: 96px;
  bottom: 96px;
  right: 96px;
  display: flex;
  place-content: center;
}

.ImageDisplay_img-wrapper > img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}

.ImageDisplay > .IconButton {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
}
