.ContactInfo {
  width: 400px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -400px;
  background-color: white;
  border-left: solid 1px var(--light-grey);
  transition: all 0.4s ease-in-out;
}

.ContactInfo.show {
  right: 0;
}

.ContactInfo > section {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ContactInfo > section:first-of-type {
  align-items: center;
}

.ContactInfo h2 {
  text-align: center;
}

.ContactInfo .ContactTab {
  margin: 0 -24px;
}

.ContactInfo .ContactTab:first-of-type {
  margin-top: 12px;
}
