.Sidebar {
  width: 400px;
  background-color: white;
  border-right: solid 1px var(--light-grey);
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto auto 1fr;
}

.Sidebar > header {
  height: 100px;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.Sidebar > header > img {
  cursor: pointer;
}

.Sidebar > section.search {
  padding: 0 24px 32px;
}

.Sidebar > section.search .TextInput + p {
  margin-top: 32px;
  margin-bottom: 12px;
}

.Sidebar > section.search .ContactTab {
  margin: 0 -24px;
}

.Sidebar > section.search .no-result {
  color: var(--grey);
  text-align: center;
  padding: 12px;
}

.Sidebar > section.chats {
  overflow-y: auto;
}
