.JoinLayout {
  width: 100%;
  height: 100%;
  background-color: white;
  display: grid;
  place-content: center;
}

.JoinLayout_content {
  max-width: 1164px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 20px;
}

.JoinLayout_content > div:last-of-type {
  padding: 0 118px;
}

/* Styling login and signup forms */

.JoinLayout form .IconButton {
  margin-bottom: 12px;
}

.JoinLayout form h1 {
  margin-bottom: 48px;
}

.JoinLayout form .TextInput {
  margin-top: 16px;
}

.JoinLayout form .Button,
.JoinLayout form .Button:disabled:hover {
  background-color: var(--primary);
  margin-top: 20px;
}
.JoinLayout form .Button:hover {
  background-color: var(--primary-75);
}

.JoinLayout form .GoogleButton {
  margin-bottom: 32px;
}
