.Avatar {
  background-size: cover;
  background-position: center;
  image-rendering: -webkit-optimize-contrast;
  border-radius: 1000px;
}

.Avatar.large {
  width: 128px;
  height: 128px;
}

.Avatar.medium {
  width: 64px;
  height: 64px;
}

.Avatar.small {
  width: 48px;
  height: 48px;
}

.Avatar.mini {
  width: 24px;
  height: 24px;
}
