:root {
  /* Colors */
  --primary: #42d1c0;
  --primary-75: #28a697;
  --primary-50: #0f6359;
  --primary-25: #0d3732;
  --ghost: #f7f7f7;
  --light-grey: #e6e6e6;
  --grey: #808080;
  --dark-grey: #171717;
  --red: #e3474b;

  --shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root,
.App {
  width: 100vw;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Inter', Arial, sans-serif;
  background-color: var(--ghost);
  font-size: 1.125rem;
}

h1 {
  font-size: 32px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}

a {
  color: var(--primary);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

.sml-txt {
  font-size: 14px;
}

.grey {
  color: var(--grey);
}

.row {
  display: flex;
}
.col {
  display: flex;
  flex-direction: column;
}
.gap-2 {
  gap: 2px;
}
.gap-6 {
  gap: 6px;
}
.gap-16 {
  gap: 16px;
}
.gap-24 {
  gap: 24px;
}
.gap-32 {
  gap: 32px;
}
.space-btw {
  justify-content: space-between;
}
.align {
  align-items: center;
}

.err-msg {
  color: var(--red);
  font-size: 14px;
  margin: 12px 0;

  display: flex;
  align-items: center;
  gap: 8px;
}

.Settings_section {
  max-width: 700px;
  margin: 36px auto;
  padding: 24px;
  background-color: white;
  border-radius: 16px;
}

.chat-layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  max-height: 100%;
  overflow: hidden;
}

.chat-layout main {
  max-height: 100%;
  overflow-y: auto;
  padding: 24px;
}

.tags-row {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  padding: 12px 0;
}

/*
body {
  font-family: 'Inter', 'Roboto', Arial, Helvetica, sans-serif;
  color: var(--dark-100);
  font-size: 1.125rem;

  background-color: var(--dark-20);
}
*/

/* Typographic styles */
/*
p {
  line-height: 150%;
}
h3 {
  font-size: 1.125rem;
}
.large {
  font-size: 2rem;
}
.bold {
  font-weight: 600;
}
.grey {
  color: var(--dark-70);
}
.small {
  font-size: 0.875rem;
  line-height: 130%;
}

.google-btn {
  color: var(--dark-100);
  justify-content: center;
  border-radius: 1000px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid var(--dark-20);
  margin-bottom: 40px;
}

.back-btn {
  width: 36px;
  height: 36px;
  padding: 0;
  border-radius: 18px;
  background-color: transparent;
  display: none;
}

.back-btn:hover {
  background-color: var(--dark-20);
}

.back-btn > svg {
  color: var(--dark-50);
}

@media screen and (max-width: 900px) {
  .back-btn {
    display: block;
  }
}

/* Anchor style */

/* Single line text style */

.single-line {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Form error message styling */

.error-message {
  color: var(--red);
}
/*
.error-message::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background-image: url('./assets/icons/alert.svg');
  background-position: center;
  background-size: 100%;
}


.page-bar {
  padding: 36px;
  background-color: white;

  display: flex;
  gap: 24px;
}

.page-section {
  max-width: 814px;
  min-height: 148px;
  margin: 64px auto 0;
  padding: 24px;
  background-color: white;

  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 16px;
}

@media screen and (max-width: 900px) {
  .page-section {
    grid-template-columns: 1fr;
    justify-content: stretch;
  }

  .page-section button {
    width: 100%;
  }
}

.page-section .row {
  display: flex;
  align-items: center;
  gap: 24px;
}

.row-left {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.flex-row {
  display: flex;
  gap: 32px;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.align-items {
  align-items: center;
}

.gap-32 {
  gap: 32px;
}

.gap-16 {
  gap: 16px;
}

.hidden {
  display: none !important;
}
*/
