:root {
  /* Color palette */
  --primary: #ed592a;
  --dark-100: #1a1a1a;
  --dark-70: #595959;
  --dark-50: #808080;
  --dark-20: #f3f4f6;
  --dark-10: #f7f7f7;

  /* Shadow */
  --shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

body {
  /* Default typographic values */
  font-family: 'Inter', 'Roboto', Arial, Helvetica, sans-serif;
  color: var(--dark-100);
  font-size: 1.125rem;
}

/* Typographic styles */

p {
  line-height: 150%;
}
h3 {
  font-size: 1.125rem;
}
.large {
  font-size: 2rem;
  line-height: 110%;
}
.bold {
  font-weight: 600;
}
.grey {
  color: var(--dark-70);
}
.small {
  font-size: 0.875rem;
  line-height: 130%;
}

/* Input field style */

input {
  display: block;
  width: 100%;
  font-size: 1.125rem;
  padding: 16px;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

input::placeholder {
  color: var(--dark-50);
  opacity: 1;
}

input.outline {
  border: solid 2px var(--dark-20);
}

input.outline:focus {
  border-color: var(--primary);
  outline: none;
}

input.filled {
  background-color: var(--dark-20);
  border: none;
  outline: 2px solid transparent;
}

input.filled:focus {
  outline-color: var(--dark-20);
  background-color: transparent;
  box-shadow: var(--shadow);
}

/* Label style */

label {
  display: block;
  color: var(--dark-70);
  font-size: 0.875rem;
  margin-left: 1rem;
  margin-bottom: 6px;
}

/* Basic button style */

button {
  font-size: 1.125rem;
  color: white;
  background-color: var(--dark-100);
  padding: 16px 32px;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  transition: all 0.2s ease-in-out;
}

button.small {
  padding: 12px 24px;
  font-size: 1.125rem;
}

button:hover {
  filter: brightness(90%);
}

button.primary {
  color: white;
  background-color: var(--primary);
}

button.full-width {
  width: 100%;
}

.google-btn {
  color: var(--dark-100);
  justify-content: center;
  border-radius: 1000px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid var(--dark-20);
  margin-bottom: 40px;
}

/* Anchor style */

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
