:root {
  /* Color palette */
  --primary: #ed592a;
  --dark-100: #1a1a1a;
  --dark-70: #595959;
  --dark-50: #808080;
  --dark-20: #f3f4f6;
  --dark-10: #f7f7f7;
}

body {
  /* Default typographic values */
  font-family: 'Inter', 'Roboto', Arial, Helvetica, sans-serif;
  color: var(--dark-100);
  font-size: 1.125rem;
}

/* Typographic styles */

p {
  line-height: 150%;
}
h3 {
  font-size: 1.125rem;
}
.large {
  font-size: 2rem;
  line-height: 110%;
}
.bold {
  font-weight: 600;
}
.grey {
  color: var(--dark-70);
}
.small {
  font-size: 0.875rem;
  line-height: 130%;
}
