.IconButton {
  display: block;
  border: none;
  border-radius: 1000px;
  cursor: pointer;

  transition: all 0.2s ease-in-out;
}

.IconButton.primary {
  color: white;
  background-color: black;
}
.IconButton.primary:hover {
  background-color: var(--dark-grey);
}

.IconButton.secondary {
  color: var(--grey);
  background-color: white;
}
.IconButton.secondary:hover {
  background-color: var(--light-grey);
}

.IconButton.large {
  padding: 12px;
}

.IconButton.small {
  padding: 6px;
}

.IconButton.large > .Icon {
  width: 40px;
  height: 40px;
}

.IconButton.small > .Icon {
  width: 24px;
  height: 24px;
}
